<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shoppingProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.shoppingcart.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shoppingcart.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Call</display-name>
    <servlet-name>Call</servlet-name>
    <servlet-class>Call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Call</servlet-name>
    <url-pattern>/Call</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletenow</display-name>
    <servlet-name>deletenow</servlet-name>
    <servlet-class>com.shoppingcart.deletenow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletenow</servlet-name>
    <url-pattern>/deletenow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.shoppingcart.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addproduct</display-name>
    <servlet-name>Addproduct</servlet-name>
    <servlet-class>com.shoppingcart.Addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproduct</servlet-name>
    <url-pattern>/Addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImage</display-name>
    <servlet-name>getImage</servlet-name>
    <servlet-class>com.shoppingcart.getImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImage</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.shoppingcart.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CArr</display-name>
    <servlet-name>CArr</servlet-name>
    <servlet-class>com.shoppingcart.CArr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CArr</servlet-name>
    <url-pattern>/CArr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart1</display-name>
    <servlet-name>Cart1</servlet-name>
    <servlet-class>com.shoppingcart.Cart1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart1</servlet-name>
    <url-pattern>/Cart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecart</display-name>
    <servlet-name>deletecart</servlet-name>
    <servlet-class>com.shoppingcart.deletecart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecart</servlet-name>
    <url-pattern>/deletecart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecart</display-name>
    <servlet-name>updatecart</servlet-name>
    <servlet-class>com.shoppingcart.updatecart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecart</servlet-name>
    <url-pattern>/updatecart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteproduct</display-name>
    <servlet-name>deleteproduct</servlet-name>
    <servlet-class>com.shoppingcart.deleteproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproduct</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateproduct</display-name>
    <servlet-name>updateproduct</servlet-name>
    <servlet-class>com.shoppingcart.updateproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateproduct</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
</web-app>